html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

  p{
      width: 200px;
      height: auto;
      text-align: center;
      font-size: 1.125rem;
      background-color: rgb(238, 16, 16);
      color: rgb(238, 16, 16);
      text-shadow: 0px 0px #000000;
      border-radius: 10%;
      border: 1px solid rgb(177, 31, 31);
      background-image: linear-gradient(to right,rgba(0,0,0,0) 30%,rgba(0,0,0,0.2) 70%);
      box-shadow: 1px 1px gray, 1px 1px rgba(255, 255, 255, 0.589) inset,  -1px -1px rgba(0, 0, 0, 0.5) inset;

  }